  <br><br>
  <%= link_to 'Click here to go back', users_path %>
 
  <p>
    <strong>name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @user.password %>
  </p>

  <p>
    <strong>Password-Conformation:</strong>
    <%= @user.password_conformation%>
  </p>

  <p>
    <% if @user.picture.present? %>
       <strong>Picture:</strong>
       <%= image_tag @user.picture.photo.url %>
    <% else %>
       <strong>Image is not Selected:</strong>
       <%= image_tag 'image is missing.jpg' %>
   <% end %>
</p>
