<%= form_for(@project) do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
   
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :department %><br>
      <%= f.text_field :department%>
    </p>
    <p>
    <%= f.fields_for :picture do |s| %>
    <div>
    <%= s.label :photoOfTask %>
    <%= s.file_field :photo, as: :file, accept: 'image/png,image/gif,image/jpeg,image/jpg' %> 
    </div>
    <% end %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>