    <p>
      <strong>Title:</strong>
      <%= @project.title %>
    </p>  

    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>
    
     
    <p>
    <% if @project.picture.present? %>
        <strong>Picture:</strong>
        <%= image_tag @project.picture.photo.url %>
     <% else %>
        <strong>Image is not Selected:</strong>
        <%= image_tag 'image is missing.jpg' %>
    <% end %>
        
    </p>
<%= link_to 'Back', projects_path %>

