<div>
  
<%= render 'users/updateduser', project: @project %>
</div>
<%= form_for :@project do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :task_description %><br>
    <%= f.text_area :task_description %>
  </p>
  <p>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



 