        <%= form_for @task do |f| %> 

          <% if @task.errors.any? %>
            <div id="error_explanation">

              <h2>
                <%= pluralize(@task.errors.count, "error") %> prohibited
                this user from being saved:
              </h2>
              <ul>
                <% @task.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>

          <% end %>

          <p>
            <%= f.label :TaskName%><br>
            <%= f.text_field :name %>
          </p>

          <p>
            <%= f.label :TaskDescription %><br>
            <%= f.text_area :task_description %>
          </p>

          <p>
          <%= f.label :Task_Assign_to %><br>
          <%= f.collection_select(:user_id, User.all, :id, :name, {include_blank: true}, {class: "form-control"}) %>
          </p>
      
          <p>
          <%= f.label :SelectProject %><br>
          <%= f.select(:project_ids, Project.all.map { |u| [u.title,u.id]},{ :prompt => "Please select Project"},{:multiple => true})%>    
                </p>

          <p>
            <%= f.fields_for :picture do |s| %> 
         <div>
            <%= s.file_field :photo, as: :file, accept: 'image/png,image/gif,image/jpeg,image/jpg' %> 
            <%= hidden_field_tag 'task[photo]' %>
         </div>

        <% end %>
          </p>

        <div id="comments">
            <%= f.fields_for :comments do |task| %>
              <%= render 'task_fields', :f => task %>
        <% end %>
            <div class="links ">
              <%= link_to_add_association 'add Comment', f, :comments , :render_options => { :wrapper => 'inline' } %>
            </div>
        </div>

          <%= f.button :submit %>
        <% end %>
