<table>
<tr>
<th>Task Id </th>
<th>Task Title</th>
<th>Task Description</th>
<th>Creater</th>
<th>Assigned Using with Id</th>
<th>Select User</th>
<th>All Project </th>
<th>All Comments</th>
<th>Image</th>
<th>Delete Comments</th>
<th>Update Comments</th>
</tr>
<% @tasks.each do |task| %>
<tr>
<td><%= task.id %></td>
<td><%= task.name %></td>
<td><%= task.task_description %></td>
<td><%= task.assigner %></td>
<td><%= task.assign_to %></td>
<td><%= collection_select(:user, :user_id, User.all, :id, :name, {:prompt => true }, onchange: "assign_task(this);")%></td>
<td><%= task.all_project %></td>
<td><%= task.all_comments%></td>
<td><%= link_to 'Show', task_path(task) %></td>
<td><%= link_to 'Edit', edit_task_path(task) %></td>
<td><%= link_to 'Destroy', task_path(task),
              method: :delete,
              data: { confirm: 'Are you sure to delete Task?' } %></td>

</tr>
<% end %>
</table>

  <%= link_to 'Add New Task ', new_task_path %>
<script>
function assign_task(taskcurrent){
  var tt = $(taskcurrent).parents("tr").find("td:first").html(); 
  $.ajax({
    url:'/selecteduser?user='+ $(taskcurrent).val()  + '&tt=' + tt,
    type:'get',
    success: function(data) {
       
     var s =  $(taskcurrent).parents('tr').find('td:nth-last-child(7)').html($(taskcurrent).children("option:selected").text())  
     
    }
  });
}
</script>